/*  your css code here. If applicable */
main{
	margin:0 auto;
	width:350px;
	padding:10px;
	
	background-color: #333; /* Dark Grey */
color: white; /* Text readable rahe */

	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	border-radius:10px;
	/* overflow:hidden; */

}

img{
	display:block;
	margin:0 auto;
	padding:33px;
	border-radius:50px;
	width:250px;
}
button{
	display:block;
	margin:0 auto;
	text-align:center;
	padding:10px;
	background-color:red;
	color:white;
	border-radius:10px;
	   }
p, h1{
	text-align:center;
}